.footer {
  background-color: var(--darkblue);
  .container {
    padding: 0;
    max-width: 100%;
  }
  .top {
    display: flex;
    border-bottom: 1px solid #555555;
    position: relative;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    .left {
      background: var(--whiteblue);
      min-width: 350px;
      height: auto;
      position: relative;
      transform: skewX(30deg) translateX(-50px);
      @media screen and (max-width: 768px) {
        position: absolute;
        top: -60px;
        height: 60px;
        min-width: 230px;
      }
    }
    .logo {
      img {
        max-width: 265px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 60px;
        transform: skewX(-30deg);
        @media screen and (max-width: 768px) {
          max-width: 150px;
        }
      }
    }
    .right {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 22px;
      color: #d9d9d9;
      .title {
        max-width: 900px;
        span {
          color: #fff !important;
          display: block;
          margin-bottom: 5px;
        }
        .text {
        }
      }
    }
  }

  .main {
    display: flex;
    justify-content: space-around;
    padding: 32px 16px;
    border-bottom: 1px solid #555555;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;
    }
    .col {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media screen and (max-width: 700px) {
        align-items: center;
        text-align: center;
      }
      img {
        max-width: 90px;
      }
      .socials {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 25px;
        img {
          width: 35px;
          max-width: 90px;
        }
      }
      .stext {
        color: #d9d9d9;
        font-size: 16px;
      }
      .text {
        color: #fff;
      }
      .list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        a {
          color: #d9d9d9;
          &:hover {
            color: #b6b6b6;
          }
        }
      }
    }
  }
  .bottom {
    padding: 16px 32px;
    border-bottom: 1px solid #555555;
    .stext {
      color: #b6b6b6;
    }
  }
}
