.advantages {
  padding: 50px 0 50px 0;
  .container {
    display: flex;
    gap: 32px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
  }
  .left {
    width: 50%;
    padding-bottom: 50px;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .card {
      max-width: 590px;
      margin-left: auto;
      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }
    }
  }
  .section-title {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 3px solid #cde3fb;
    width: fit-content;
    margin-bottom: 41px;
  }
  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .advantages-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .icon {
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
    background-color: var(--blue);
    border-radius: 50%;
    border: 9px solid #c7d3e8;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 35px;
      @media screen and (max-width: 768px) {
        width: 25px;
      }
    }
    @media screen and (max-width: 768px) {
      min-width: 70px;
      min-height: 70px;
      max-height: 70px;
      max-width: 70px;
    }
  }
  .info {
  }
  .card-title {
    margin-bottom: 8px;
  }
  .text {
    color: var(--darkblue);
  }
  .right {
    position: relative;
    width: 50%;
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
    .backgroud {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 680px;
      max-height: 400px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: var(--back);
      @media screen and (max-width: 500px) {
        max-width: 370px;
        max-height: 300px;
        right: 0;
        top: 20px;
        transform: translateY(-0%);
      }
    }
    .img1 {
      width: 100%;
      height: 100%;
      max-width: 555px;
      max-height: 524px;
      margin-left: auto;
      position: relative;
      @media screen and (max-width: 700px) {
        max-width: 410px;
        max-height: 400px;
      }
      @media screen and (max-width: 500px) {
        max-width: 310px;
        max-height: 300px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .info {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fff;
        display: flex;
        box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
        .card {
          padding: 10px 16px 10px 8px;
        }
        p {
          color: var(--blue);
          font-size: 16px;
          font-weight: 800;
          line-height: normal;
          text-transform: uppercase;
          span {
            color: var(--accent-color);
          }
        }

        .section-title {
          color: #fff;
          border: none;
          background-color: var(--accent-color);
          padding: 0;
          margin: 0;
          width: 83px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .sectio-title {
    }
    .item-title {
    }
    .img2 {
      max-width: 308px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: 0;
      z-index: 1;
      left: 0px;
      border-top: 20px solid var(--back);
      border-right: 20px solid var(--back);
      @media screen and (max-width: 700px) {
        max-width: 260px;
        max-height: 250px;
      }
      @media screen and (max-width: 500px) {
        max-width: 180px;
        max-height: 170px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.about {
  padding: 0;
  .container {
    display: flex;

    padding: 0;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
  .left {
    width: 50%;
    background-position: center;
    background-size: cover;
    height: 800px;
    @media screen and (max-width: 600px) {
      width: 100%;
      height: 270px;
    }
  }
  .right {
    width: 50%;
    position: relative;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .background-text {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    z-index: -1;
  }
  .background {
  }
  .card {
    position: relative;
    width: 110%;
    max-width: 900px;
    top: 15%;
    right: 25%;
    z-index: 1;
    background-color: #fff;
    border-top: 5px solid var(--accent-color);
    padding: 48px 60px;
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    display: flex;
    flex-direction: column;
    gap: 32px;
    @media screen and (max-width: 900px) {
      padding: 30px;
    }
    @media screen and (max-width: 600px) {
      width: 90%;
      left: 50%;
      top: -100px;
      transform: translatex(-50%);
    }
  }
  .section-title {
    margin: 0;
  }
  .card-title {
  }
  .text {
  }
  .btn {
    display: flex;
    gap: 10px;
    max-width: 300px;
    justify-content: center;
  }
}
.local {
  position: relative;
  background-image: url("../img/map.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 140px;
  .map {
    position: absolute;
    max-width: 900px;
    top: -95px;

    transform: rotate(5deg);
    right: 50px;
    z-index: -1;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .section-title {
    text-align: left;
    margin-bottom: 0;
  }
  .card-title {
    max-width: 900px;
    color: var(--blue);
  }
  .section-subtitle {
    text-align: left;
    max-width: 700px;
    font-weight: 500;
    color: #717171;
  }
  .local-card {
    overflow: auto;
    padding-bottom: 20px;
    /* width */
    &::-webkit-scrollbar {
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--accent-color);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--accent-color);
    }

    .local-list {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      min-width: 900px;
      padding-bottom: 30px;
      @media screen and (max-width: 768px) {
        min-width: 1500px;
      }
      .local-item {
        display: flex;
        flex-direction: column;
        width: calc((100% - 64px) / 5);
        padding-left: 16px;
        position: relative;
        vertical-align: top;
        &::before {
          content: "";
          width: 2px;
          background-color: var(--accent-color);
          height: 96px;
          left: 0;
          position: absolute;
        }
        @media screen and (max-width: 768px) {
          width: calc((100% - 80px) / 10);
        }
      }
      .local-title-letter {
        margin-bottom: 5px;
        color: var(--accent-color);
        font-size: 24px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      .place {
        color: #373737;
        cursor: pointer;
        &:hover {
          color: var(--accent-color);
        }
      }
    }
  }
}
.callAction {
  padding: 64px 32px;
  .container {
    background-color: var(--darkblue);
    border-top: 5px solid var(--accent-color);
    padding: 45px;
    display: flex;
    gap: 32px;
    margin-top: -150px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    @media screen and (max-width: 500px) {
      padding: 24px;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 80%;
    @media screen and (max-width: 780px) {
      width: 100%;
    }
  }
  .section-title {
    border: none;
    margin: 0;
    color: #fff;
  }
  .text {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .action {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    .btns {
      display: flex;
      gap: 16px;
      @media screen and (max-width: 780px) {
        flex-direction: column;
        width: 100%;
      }
    }

    .btn {
      width: 100%;
      white-space: nowrap;
    }
    .btn.call {
      background-color: #fff;
      color: #000;
    }
    img {
      display: none;
      @media screen and (max-width: 780px) {
        display: block;
        width: 100%;
        max-width: 90px;
      }
      @media screen and (max-width: 380px) {
        width: 50px;
      }
    }
  }
  .right {
    width: 20%;
    @media screen and (max-width: 780px) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
}
.works {
  position: relative;
  overflow: hidden;
  .backElem {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: -1;
  }
  .background {
    position: absolute;
    width: 1100px;
    height: 1000px;
    right: -50px;
    top: 0;
    transform: rotate(-10deg);
    background: var(--back);
    z-index: -1;
    @media screen and (max-width: 800px) {
      right: -800px;
    }
  }
  .container {
  }
  .section-title {
  }
  .wokrs-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 24px;
  }
  .work-item {
    width: calc((100% - 24px) / 2);
    background-position: center;
    background-size: cover;
    height: 277px;
    position: relative;
    transition: all 0.1s linear;
    &:hover {
      transform: scale(0.98);
    }
    @media screen and (max-width: 800px) {
      width: 100%;
      height: 190px;
    }
  }
  .card {
    background-color: #fafcff;
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    padding: 16px 32px;
    position: absolute;
    bottom: 0;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  .card-title {
    color: var(--blue);
  }
  .stext {
    color: var(--blue);
  }
  .btn {
    width: 280px;
  }
}
.steps {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  .background-text {
    position: absolute;
    top: 0;
    right: 40px;
    z-index: -1;
  }
  .backElem {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: -1;
  }
  .container {
    display: flex;
    gap: 60px;

    @media screen and (max-width: 970px) {
      flex-direction: column-reverse;
    }
  }
  .left {
    width: 40%;
    @media screen and (max-width: 970px) {
      width: 100%;
      height: 400px;
    }
  }
  .background {
    position: absolute;
    transform: rotate(-100deg);
    background-color: var(--back);
    z-index: -1;
    width: 600px;
    height: 600px;
    left: 0;
    bottom: 0;
  }
  .img1 {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 453px;
    max-height: 473px;
    @media screen and (max-width: 970px) {
      max-height: 352px;
    }
    @media screen and (max-width: 680px) {
      max-width: 80%;
      max-height: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 393px;
    max-height: 275px;
    right: -40px;
    bottom: -100px;
    border-top: 20px solid var(--back);
    border-left: 20px solid var(--back);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media screen and (max-width: 970px) {
      right: -200px;
      bottom: -50px;
      max-width: 300px;
      max-height: 190px;
    }
    @media screen and (max-width: 680px) {
      max-height: 50%;
      max-width: 70%;
      right: -30px;
      bottom: -20px;
      border-top: 10px solid var(--back);
      border-left: 10px solid var(--back);
    }
  }
  .right {
    width: 60%;
    @media screen and (max-width: 970px) {
      width: 100%;
    }
    .card {
      max-width: 800px;
      margin-left: auto;
      @media screen and (max-width: 970px) {
        max-width: 100%;
      }
    }
  }
  .section-title {
  }
  .steps-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .steps-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .num {
    min-width: 90px;
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
    background-color: var(--blue);
    border-radius: 50%;
    border: 9px solid #c7d3e8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      min-width: 65px;
      min-height: 65px;
      max-height: 65px;
      max-width: 65px;
      font-size: 18px;

      border: 5px solid #c7d3e8;
    }
  }
  .info {
  }
  .card-title {
  }
  .text {
  }
}
.reviews {
  .container {
  }
  .section-title {
  }
}
.faq {
  padding: 0;
  position: relative;
  .background-text {
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    position: relative;
    display: flex;
    @media screen and (max-width: 744px) {
      flex-direction: column-reverse;
      padding: 0;
    }
  }
  .left {
    width: 40%;
    position: relative;
    @media screen and (max-width: 744px) {
      width: 100%;
      padding-bottom: 90px;
    }
  }
  .card {
    padding: 32px 56px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 150%;
    background-color: #fff;
    border-top: 5px solid var(--accent-color);
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    z-index: 2;
    @media screen and (max-width: 1024px) {
      padding: 32px;
    }
    @media screen and (max-width: 744px) {
      position: static;
      width: 90%;
      transform: translateX(0%);
      margin: -100px auto 0;
    }
  }
  .section-title {
  }
  .faq-list {
    display: flex;
    flex-direction: column;
  }
  .faq-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    &.open {
      background-color: var(--blue);
      .icon {
        background: #fff;
        transform: rotate(180deg);
        path {
          fill: var(--blue);
        }
      }
      .card-title {
        color: #fff;
      }
      .question {
      }
      .answer {
        max-height: 100px;
        opacity: 1;
        color: #fff;
        margin-bottom: 10px;
      }
    }
  }
  .top {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  .card-title {
    cursor: pointer;
  }
  .question {
  }
  .icon {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue);
    border-radius: 50%;
    cursor: pointer;
    svg {
      margin-top: 5px;
      margin-right: 1px;
    }
  }
  .answer {
    max-height: 0px;
    opacity: 0;
    transition: all 0.1s linear;
    margin-bottom: 0;
  }
  .right {
    width: 60%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    @media screen and (max-width: 744px) {
      width: 100%;
      height: 300px;
    }
  }
}
.contact {
  padding: 0;
  padding-bottom: 100px;
  .container {
    max-width: 100%;
    padding: 0;
  }
  .top {
    height: 500px;
    background-position: center;
    background-size: cover;
    padding: 0 15px;
    .card {
      max-width: 800px;
      margin: 0 auto;
    }
    .section-title {
      padding-top: 90px;
      color: #fff;
      display: block;
      text-align: center;
      margin-bottom: 16px;
      span {
        color: var(--accent-color);
      }
    }
    .text {
      color: #fff;
      text-align: center;
    }
  }
  .botoom {
    height: 400px;
    padding: 0 15px;
    .card {
      padding: 38px 64px;
      background: #fff;
      box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
      max-width: 900px;
      position: relative;
      margin: -180px auto 0;
      @media screen and (max-width: 500px) {
        padding: 32px;
      }
    }
    .mark {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
    .icon {
      background: var(--accent-color);
      display: flex;
      align-items: center;
    }
    .item-title {
      padding: 16px;
      width: 110px;
    }
    .section-title {
      @media screen and (max-width: 600px) {
        margin: 0 auto 32px;
      }
      @media screen and (max-width: 500px) {
        img {
          max-width: 30px;
        }
      }
    }
    .column {
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input {
        width: 100%;
        padding: 16px;
        border: none;
        background-color: rgba(15, 66, 145, 0.1);
      }

      .row-1 {
        display: flex;
        gap: 16px;
        @media screen and (max-width: 500px) {
          flex-direction: column;
        }
      }
      .btn {
      }
    }
  }
}
