/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
.slick-dots {
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.slick-dots li {
}
.slick-dots button {
  display: block;
  border-radius: 50%;
  background-color: var(--back);
  font-size: 0;
  width: 12px;
  height: 12px;
  padding: 0;
}
/* Активная точка */
.slick-dots li.slick-active button {
  background-color: var(--accent-color);
}
.other-locacion {
  position: relative;
  .backImg {
    position: absolute;
    left: 0;
    top: 0;
  }
  .container {
    position: relative;
  }
  .section-title {
  }
  .services-slider {
    margin: 0 -12px;
    .slick-list {
      padding: 20px 0;
    }
  }
  .slide {
    margin: 0 12px;
    box-shadow: 0px 4px 17px 0px rgba(30, 45, 68, 0.33);
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      transition: all 0.1s linear;
    }
    &:hover {
      .card {
        padding: 16px;
        background-color: #fff;
        .card-title,
        .stext {
          color: var(--blue);
        }
      }
    }
  }
  .card {
    padding: 16px;
    background-color: var(--blue);
    cursor: pointer;
    transition: all 0.1s linear;
  }
  .card-title {
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
    transition: all 0.1s linear;
  }
  .stext {
    color: #fff;
    cursor: pointer;
    transition: all 0.1s linear;
  }
  .slider-navigation {
    gap: 0;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
  }
  .slick-dots {
    bottom: 40px;
  }
  .prev {
  }
  .next {
  }
}
